@charset "utf-8";
/* CSS Document */
body {
	background-color: #B4B4B4;
	}
#main {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width: 950px;
	height:auto;
	min-height:700px;
	background-color:#FFF;

}

#topHead {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width: 950px;
	height:17px;
	background-color:#B4B4B4;
	background-image:url(../images/curvaTop.gif);
	
	

}
#medium {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width: 948px;
	height:auto;
	min-height:683px;
	border-left:solid 1px #B4B4B4;
	border-right:solid 1px #B4B4B4;
	
}
#header {
	width: 948px;
	height:140px;
	position:relative;
}
#logoHead {
	width: 302px;
	height:94px;
	padding-left:51px;
	padding-top:20px;
	float:left;
}
#topPeople {
	width: 346px;
	height:140px;
	float:right;
	padding-right:50px;
	
}
#subbanner {
	width: 948px;
	height:25px;
	background-color:#900;
    float:left;
	background-image:url(../images/menu_bg.jpg);
}
#bottomPeople {
	width:346px;
	height:25px;
	float:right;
	padding-right:50px;
}
#menuinferior {
	width: 505px;
	height:25px;
	background-color:#efefef;
    float:left;
}
#areamensaje {
	width: 442px;
	height:25px;
	background-color:#ccc;
    float:right;
}
#nom_usuario{
	float:right;
	width:300px;
	height:20px;
	padding-top:5px;
	background-color:#efefef;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#039;
	font-weight:bold;
	vertical-align:middle;
	}
#cerrar_sesion{
	float:right;
	width:100px;
	height:20px;
	padding-right:42px;
	padding-top:5px;
	background-color:#efefef;
	
	}
#cerrar_sesion a{
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#039;
	} 
#cerrar_sesion a:hover{
	color:#600;
	font-weight:bold;
	} 
.txtmenuinferior {
	height:20px;
	padding-top:5px;
	width:101px;
	text-decoration:none;
	text-align:center;
	display:block;
	
}
.txtmenuinferior:hover {
	background-color:#CCC;
	
}
a span{
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#039;
	font-weight:bold;
	text-decoration:none;
}
a span:hover {
	color:#600;
}
.txtmenuinferiorderecho {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#039;
	font-weight:bold;
	padding-top:6px;
	padding-left:10px;
}
.inputlogin {
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	margin:2px;
	margin-top:4px;
	border:solid 1px #039;
}
#inputusuario { float:left}

.botonentrar {
	background-color: #039;
	color: #FFF;
	font-size: 10px;
	font-family: arial;
	font-weight: bold;
	margin-top:3px;
	margin-left:5px;
}
.margen_menu{
	
	float:left;
	width:20px;
	height:25px;}
.rolloverinstituto {
	display: block;
  	width: 124px;
  	height: 25px;
  	background: url(../images/btinstituto.jpg) no-repeat;

}
a.rolloverinstituto:link, a.rolloverinstituto:visited, a.rolloverinstituto:active {
  background: url(../images/btinstituto.jpg) no-repeat;
}

a.rolloverinstituto:hover {
  background: url(../images/btinstituto2.jpg) no-repeat;
}

.rolloverdondestamos {
	display: block;
  	width: 146px;
  	height: 25px;
  	background: url(../images/btdondestamos.jpg) no-repeat;

}
a.rolloverdondestamos:link, a.rolloverdondestamos:visited, a.rolloverdondestamos:active {
  background: url(../images/btdondestamos.jpg) no-repeat;
}

a.rolloverdondestamos:hover {
  background: url(../images/btdondestamos2.jpg) no-repeat;
}
.rolloverforo{
	display: block;
  	width: 71px;
  	height: 25px;
  	background: url(../images/btforo.jpg) no-repeat;

}
a.rolloverforo:link, a.rolloverforo:visited, a.rolloverforo:active {
  background: url(../images/btforo.jpg) no-repeat;
}

a.rolloverforo:hover {
  background: url(../images/btforo2.jpg) no-repeat;
}
.rollovercontacto{
	display: block;
  	width: 134px;
  	height: 25px;
  	background: url(../images/btcontacto.jpg) no-repeat;

}
a.rollovercontacto:link, a.rollovercontacto:visited, a.rollovercontacto:active {
  background: url(../images/btcontacto.jpg) no-repeat;
}

a.rollovercontacto:hover {
  background: url(../images/btcontacto2.jpg) no-repeat;
}
.central{
	float:left; 
	width:948px; 
	min-height:457px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;}
.txt_central{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	font-weight:normal;
	}
.central a:hover{
	color:#039;
	font-weight:bold;
	}
.nivel{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#039;
	font-weight:bold;}
#pie_pag{
	float:left;
	position:relative;
	margin:0 auto;
	width:948px;
	height:46px;
	text-align:left;
	background-image:url(../images/bg_wash.jpg);
	}
.error{
	background-color:#900;
	display:inline;
	float:left;
	width:948px;
	height:auto;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#CCC;
	font-weight:bold;}
#txt_leccion{
	float:left;
	padding-left:34px;
	width:680px;
	font-family:Verdana, Geneva, sans-serif;
	color:#000066;
	font-size:12px;}
#ant_sig{
	float:left;
	padding-top:20px;
	width:695px;
	height:20px;
	text-align:center;
}
.txt_num_pag{
	text-decoration:none;
	color:#003399;}
.txt_num_pag_selec{
	color:#003399;
	font-weight:bold;}
#formulario{
	float:left;
	text-align:center;
	width:948px;}
#formulario1_1{
	float:left;
	text-align:right;}
#formulario1_2{
	float:left;
	text-align:right;
	padding-left:10px;}
#contenido{
	text-align:center;}
.comentario{}
.botones{}
.vocabulario{
	width:250px; 
	float:left;
	padding-bottom:10px;
	text-align:right;
	}
.vocabularioext{
	width:250px; 
	float:left;
	text-align:right;
	padding-left:300px;
	padding-top:20px;
	}